@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face{
    font-family: "Cal Sans";
    src: 
    url("../fonts/CalSans-SemiBold.woff2") format("woff2"),
    url("../fonts/CalSans-SemiBold.woff") format("woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    overflow-x: hidden;
    min-width: 100%;

}

.wrapper{
    max-width: 1210px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}

/*------header------*/
header{
    position: absolute;
    width: 100%;
}
.header__wrapper {
    display: flex;
    padding-top: 62px;
    padding-bottom: 62px;
    align-items: center;
}
.header__logo {
    margin-right: 121px;
    padding-right: 5px;
    height: 29px;
}
.header__nav {
    display: flex;
    gap: 56px;
}
.nav {
    padding-left: 5px;
    padding-right: 5px;
}
.nav-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(18, 18, 18, 0.4);
    text-decoration: underline;
}

/*------header end------*/
/*------header-content------*/

.header-content {
    overflow: hidden;

}
.header-content__wrapper {
    display: flex;
    justify-content: space-between;
}
.header-content__row {
    align-self: flex-end;
    margin-bottom: 150px;
}
.header-content__title {
    font-family: Cal Sans;
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;
    text-align: left;
    color: #121212;
}
.header-content__title span{
    color: #FF6428;
}
.header-content__text {
    line-height: 24px;
    text-align: left;
    color: #666666;
    margin-top: 16px;
}
.header-content__actions{
    
}
.actions{
    display: flex;
    gap: 20px;
    margin-top: 33px;
}
.actions__submit {
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    background-color: #FF6428;
    padding: 13.5px 60.5px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.actions__logo {
}
.header-content__img {
    display: block;
    margin-right: -120px;
}
.header-content__img::after{
    content: "";
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #fff;
    left: 348px;
    bottom: 50px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    background-image: url("../img/main-content/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

/*------header-content end------*/
/*------store------*/

.store {
}
.store__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.store__title {
}
.title {
}
.store__category {
    width: 100%;
}
.category {
}
.category__head-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.category__title {
}
.category__view-all {
}
.category__item-row {
    display: flex;
    justify-content: space-between;
}
.category__item {
}
.item-category {
}
.item-category__image {
}
.item-category__title {
}
.item-category__price {
}

/*------store end------*/